main.c
main.py.bak
main_enc.py
mainn.py
__pycache__/
build/
uploads/

templates/indexx.html
templates/indexxx.html
templates/indexfinal.html
templates/index.min.html

static/script.js
static/script.js.bak
static/scriptt.js
static/scripttt.js
static/style.css

main.py.bak
main_enc.py
mainn.py
